*.out
*.exe
build/
.gdb_history
vgcore.*
.vscode/
*.gcda
*.gcno
*.gcov
*.o
.depend
grammar_peg
bfvm
perf.*
*.patch
bench_results
programs/
.idea/
gc_map/
*.profraw
*.profdata
cmake-build*/
e.c
mandelbrot.c
helloworld.c
sierpinski.c
golden.c
xmastree.c
numwarp.c
hanoi.c
factor.c
impeccable.c
dbfi.c
LostKng.c
